@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  
  color: #fff;
  background: #1f1934;
  
}

main{
 /* background: rgba(57, 58, 71, 0.27);*/ /* antes estaba mal */
  height: 100vh;   /* antes tenías 100hv */
  height: 100dvh;  /* altura dinámica para móviles */
}


@layer utilities {
  .text-balance{
    text-wrap: balance;
  }
}

.bg-secondary {
  background-color: #ab0bf5 !important;
}
.text-secondary {
  color: #e00cfc !important;
} 
 .bg-gradient-cover {
  background-image: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) 0%,
    rgba(122, 54, 189, 0.5) 50%,
    rgba(74, 47, 189, 0.5) 100%
  );
} 
 .nav-item {
  transition: background 0.2s;
  border-radius: 0 rem;
  cursor: pointer;
}
.nav-item:hover {
  background: #ab0bf5; 
}